.questions-page{
  background:#eee;
  padding-bottom:40px;
}

.questions-page .button{
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left:-30px;
	z-index:3;
}

.questions {
	margin:0 auto;
	max-width:680px;
}

.question {
	position:relative;
	background:#fff;
	color:#333;
	padding:5px 20px 20px 5px;
	text-align:left;
	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.vote-button{
	position:absolute;
	bottom:15px;
	right:15px;
}

.votes{
	padding-top:5px;
	display:inline-block;
	border-top:1px solid #009ABF;
	color:#009ABF;
}

.votesContainer{
	padding-bottom:0px!important;
	margin-bottom:-8px;
}
.cardHeader > span:first-child {
	line-height: 31px!important;
	padding-bottom:5px;
}